body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

#login-container{
    max-width: 400px;
    margin-top: 12vh;
    background: white;
    border-radius: 20px;
    padding: 0px 50px 50px 50px;
}

#login-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}