#login-container{
    max-width: 400px;
    margin-top: 1vw;
    background: white;
    border-radius: 20px;
    padding: 0px 50px 50px 50px;
}

#login-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn:hover{
    background-color: white;
    color: #864068;
    border-color: #864068;
}

.login-btn{
    background-color: black;
    color: white;
    border-color: white;
}