.logo{
    width: 10%;
}

.box2{
    width: 70%;
    padding: 3% 3% 3% 3%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 3%;
}

.box2{
    background-color: white;
}

.answer{
    background-color: black;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
}

.info{
    display: inline-block;
    color: white;
    margin-right: 20px;
}

.t2{
    color: white;
}

.t1{
    color: white;
    margin: 0px !important;
    font-size: 11px;
}
.t3{
    color: black;
}

.box{
    padding: 30px;
}

.button1{
    background-color: #9740EF !important;
    color: white;
}

.buttonclose{
    background-color: #1E1E2C !important;
    color: white;
}

.newq{
    background-color: black !important;
    border-color: black !important;
}


@media only screen and (max-width: 600px) {
    .logo{
        width: 40% !important;
    }
  }